body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.header {
 display: flex;
 flex-direction: column;
 background-color: #1F2937;
 padding-left: 300px;
 padding-right: 300px;
 padding-bottom: 100px;
 height: 400px;
}

.header-full {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items:flex-start;
 flex: 1;
 padding-top: 20px;
}
.header-links {
 display: flex;
 gap: 25px;
 Color: #E5E7EB; 
}

.header-logo {
 display: flex;
 color: #F8FAF8;
 font-size: 24px;
 font-weight: bold;
}

.header-content {
 display: flex;
 flex-direction: row;
 flex: 1;
 justify-content: space-between;
}

.content1 {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 flex: 1;
 gap: 10px;
 padding-right: 10px;
}


.text1 {
 display: flex;;   
 font-size: 48px;
 color: #F8FAF8; 
}

.text2 {
 display: flex;
 Color: #E5E7EB; 
}

.button {
 display: flex;
 border-radius: 15px;
 Color: #E5E7EB; 
 background-color: #3882F6;
 width: 175px;
 height: 50px;
 justify-content: center;
 align-items: center;
 font-weight: bold;
 font-size: 20px;
}

.picture {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: gray;
 color: white;
 flex: 1;
}

.information {
 display: flex;
 flex-direction: column;
}

.text {
  display: flex;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.small-box1 {
    display: flex;
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.small-box2{
    display: flex;
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    
}

.small-box3 {
    display: flex;
    width: 100px;
    height: 100px;;
    border: 3px solid #3882F6;
    border-radius: 15px;
    
}

.small-box4 {
    display: flex;
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    
}